.photo-item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#home .photo-item h2 {
  margin-bottom: .2em;
}

.photo-author {
  text-align: left;
}


.photo-author a {
  font-weight: bold;
}
