#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 469px;
  margin: 0 auto;
  padding-top: 2em;
}

#home img {
  max-width: 469px;
  height: 469px;
  object-fit: contain;
  object-position: center;
  border-bottom: 1px solid #363636;
}

@media (max-width: 700px) {
  #home {
    display: flex;
    justify-content: center;
    width: 369px;
    margin: 0 auto;
  }

  #home img {
    width: 100%;
    height: 50%;
  }
}

#home .btn {
  display: block;
  width: 80px;
  text-align: center;
  margin: 0.5em 0 2em 0;
}

.border {
  width: 100%;
  border-bottom: 1px solid #363636;
  margin-bottom: 2.5em;
}

.no-photos {
  text-align: center;
}

.no-photos a {
  color: #0094f6;
}