.message {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #000;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: #f5c6cb;
}

.success {
  color: #721c24;
  background-color: #d4edda;
  border: #c3e6cb;
}